body {
  background: #faedcd;
  color: rgb(59, 59, 59);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

article {
  border: 1px solid #ccd5ae;
  margin: 20px;
  padding: 15px;
  border-radius: 7px;
  background: #fefae0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.liked {
  background: #ccd5ae;
  padding: 5px;
  margin: 0px;

}

.like-button {
  padding: 3px;
  border-radius: 7px;
  border: 1px solid #ccd5ae;
  background: #e9edc9;
}

.like-button:hover {
  background: greenyellow;
}